body {
    font-family: "Roboto", sans-serif;
    background-color: aquamarine;
    text-align: center;
}

canvas {
    border-bottom: 4px ridge blue;
}

textarea {
    vertical-align: top;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea,
select {
    width: 400px;
    box-sizing: border-box;
}

button {
    background-color: lightgreen;
}

.form-input,
.div-spacing {
    margin: 10px auto;
}

#input-form {
    display: none;
    visibility: hidden;
}

.form-container {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50vw;
    background-color: aliceblue;
    border: 4px ridge black;
}

.simple-container {
    display: block;
    visibility: visible;
}

.advanced-container {
    display: none;
    visibility: hidden;
}

.options-container {
    display: none; /*temp*/
    visibility: hidden; /*temp*/
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50vw;
    height: 100px; /*temp*/
    background-color: royalblue;
    border: 4px ridge teal;
}

.chart-container {
    background-color: rgb(130, 236, 236);
    border: 4px ridge blue;
    border-bottom: none;
    position: relative;
    margin: auto;
    /* height: 50vh; */
    width: 75vw;
}