body {
    font-family: "Roboto", sans-serif;
    background-color: aquamarine;
    text-align: center;
    min-width: 1000px;
}

canvas {
    border-bottom: 4px ridge blue;
}

textarea {
    vertical-align: top;
}

label:not(.not-fixed) {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea,
select#type {
    width: 400px;
    box-sizing: border-box;
}

select {
    box-sizing: border-box;
}

button {
    background-color: lightgreen;
}

a {
    text-decoration: none;
}

a.external[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0px 3px 0px 5px;
}

#menu-swap {
    background-color: rgb(131 131 233);
}

.form-input,
.div-spacing {
    margin: 10px auto;
}

.header-spacing {
    margin: 0px;
}

#add-charts-select {
    margin: 10px;
    display: block;
}

#remove-charts-select {
    margin: 10px;
    display: block;
}

#add-charts {
    background-color: rgb(52, 64, 235);
    margin: 10px;
    border: 4px ridge yellow;
}

#remove-charts {
    background-color: rgba(235, 64, 52);
    margin: 10px;
    border: 4px ridge yellow;
}

#meta-container {
    display: none;
    visibility: hidden;
}

#switch-input-advanced {
    background-color: red;
}

#switch-input-simple {
    background-color: pink;
}

.render-inline {
    display: inline-block;
}

.form-container {
    min-width: 500px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50vw;
    background-color: aliceblue;
    border: 4px ridge black;
}

.simple-container {
    display: block;
    visibility: visible;
}

.advanced-container {
    display: none;
    visibility: hidden;
}

#options-container {
    display: none;
    visibility: hidden;
}

.chart-container {
    min-width: 750px;
    background-color: rgb(130, 236, 236);
    border: 4px ridge blue;
    border-bottom: none;
    position: relative;
    margin: auto;
    /* height: 50vh; */
    width: 75vw;
}